In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import os
import warnings

%matplotlib inline
pd.set_option("display.max_rows",None,"display.max_columns", None)
warnings.simplefilter(action='ignore')
# plt.style.use('seaborn')

In [26]:
df = pd.read_csv('train-data-final.csv')

In [27]:
df.head()

,,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG ...,Mumbai,2010,72000,CNG,Manual,3,26.6,998,58.16,5,,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option ...,Pune,2015,41000,Diesel,Manual,3,19.67,1582,126.2,5,,12.50
2,2,Honda Jazz V ...,Chennai,2011,46000,Petrol,Manual,3,18.2,1199,88.7,5,8.61,4.50
3,3,Maruti Ertiga VDI ...,Chennai,2012,87000,Diesel,Manual,3,20.77,1248,88.76,7,,6.00
4,4,Audi A4 New 2.0 TDI Multitronic ...,Coimbatore,2013,40670,Diesel,Automatic,2,15.2,1968,140.8,5,,17.74

# Exploratory Data Analysis

In [28]:
df.shape

(6024, 14)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6024 entries, 0 to 6023
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0                      6024 non-null   int64
 1   Name               6024 non-null   object
 2   Location           6024 non-null   object
 3   Year               6024 non-null   int64
 4   Kilometers_Driven  6024 non-null   int64
 5   Fuel_Type          6024 non-null   object
 6   Transmission       6024 non-null   object
 7   Owner_Type         6024 non-null   int64
 8   Mileage            6024 non-null   object
 9   Engine             6024 non-null   object
 10  Power              6024 non-null   object
 11  Seats              6024 non-null   object
 12  New_Price          6024 non-null   object
 13  Price              6024 non-null   float64
dtypes: float64(1), int64(4), object(9)
memory usage: 659.0+ KB

In [30]:
df.describe()

                           Year  Kilometers_Driven   Owner_Type        Price
count  6024.000000  6024.000000       6.024000e+03  6024.000000  6024.000000
mean   3011.500000  2013.364210       5.870658e+04     2.797311     9.478197
std    1739.123342     3.275215       9.123861e+04     0.456203    11.183847
min       0.000000  1998.000000       1.710000e+02     0.000000     0.440000
25%    1505.750000  2011.000000       3.400000e+04     3.000000     3.500000
50%    3011.500000  2014.000000       5.300000e+04     3.000000     5.640000
75%    4517.250000  2016.000000       7.300000e+04     3.000000     9.952500
max    6023.000000  2022.000000       6.500000e+06     3.000000   160.000000

In [31]:
df.isna().sum()

                     0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

# Data Preprocessing

In [32]:
df.columns

Index(['     ', 'Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price'],
      dtype='object')

In [33]:
df.drop('Name', axis=1, inplace=True)

In [34]:
df['Age'] = 2024 - df['Year']
df.drop('Year', axis=1, inplace=True)
df.drop('New_Price', axis=1, inplace=True)

In [36]:
df.drop('     ', axis=1,inplace=True)

In [37]:
df.head()

,Location,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Age
0,Mumbai,72000,CNG,Manual,3,26.6,998,58.16,5,1.75,14
1,Pune,41000,Diesel,Manual,3,19.67,1582,126.2,5,12.50,9
2,Chennai,46000,Petrol,Manual,3,18.2,1199,88.7,5,4.50,13
3,Chennai,87000,Diesel,Manual,3,20.77,1248,88.76,7,6.00,12
4,Coimbatore,40670,Diesel,Automatic,2,15.2,1968,140.8,5,17.74,11

In [38]:
#Dropping rows with empty cells
df = df[df['Mileage'].notna()]
df = df[df['Engine'].notna()]
df = df[df['Power'].notna()]
df = df[df['Seats'].notna()]

In [39]:
df.isna().sum()

Location             0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
Age                  0
dtype: int64

In [40]:
df.columns

Index(['Location', 'Kilometers_Driven', 'Fuel_Type', 'Transmission',
       'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'Price', 'Age'],
      dtype='object')

In [41]:
df.shape

(6024, 11)

In [42]:
Location = df[['Location']]
Location = pd.get_dummies(Location)
Location.head()

,Location_Ahmedabad,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune
0,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,True
2,False,False,True,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False

In [43]:
Fuel_t = df[['Fuel_Type']]
Fuel_t = pd.get_dummies(Fuel_t)
Fuel_t.head()

,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol
0,True,False,False,False,False
1,False,True,False,False,False
2,False,False,False,False,True
3,False,True,False,False,False
4,False,True,False,False,False

In [44]:
var = 'Transmission'
df[var].value_counts()

Transmission
Manual           4302
Automatic        1722
Name: count, dtype: int64

In [45]:
Transmission = df[[var]]
Transmission = pd.get_dummies(Transmission,drop_first=True)
Transmission.head()

   Transmission_Manual
0                        True
1                        True
2                        True
3                        True
4                       False

In [46]:
df= pd.concat([df,Location,Fuel_t,Transmission],axis=1)
df.head()

,Location,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Location_Ahmedabad,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,Mumbai,72000,CNG,Manual,3,26.6,998,58.16,5,1.75,14,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,True
1,Pune,41000,Diesel,Manual,3,19.67,1582,126.2,5,12.50,9,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,True
2,Chennai,46000,Petrol,Manual,3,18.2,1199,88.7,5,4.50,13,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True
3,Chennai,87000,Diesel,Manual,3,20.77,1248,88.76,7,6.00,12,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,True
4,Coimbatore,40670,Diesel,Automatic,2,15.2,1968,140.8,5,17.74,11,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False

In [47]:
df.drop(["Location","Fuel_Type","Transmission"],axis=1,inplace=True)
df.head()

,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Location_Ahmedabad,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,72000,3,26.6,998,58.16,5,1.75,14,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,True
1,41000,3,19.67,1582,126.2,5,12.50,9,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,True
2,46000,3,18.2,1199,88.7,5,4.50,13,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True
3,87000,3,20.77,1248,88.76,7,6.00,12,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,True
4,40670,2,15.2,1968,140.8,5,17.74,11,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False

In [48]:
df.shape

(6024, 25)

In [49]:
df.columns

Index(['Kilometers_Driven', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'Price', 'Age', 'Location_Ahmedabad  ', 'Location_Bangalore  ',
       'Location_Chennai    ', 'Location_Coimbatore ', 'Location_Delhi      ',
       'Location_Hyderabad  ', 'Location_Jaipur     ', 'Location_Kochi      ',
       'Location_Kolkata    ', 'Location_Mumbai     ', 'Location_Pune       ',
       'Fuel_Type_CNG       ', 'Fuel_Type_Diesel    ', 'Fuel_Type_Electric  ',
       'Fuel_Type_LPG       ', 'Fuel_Type_Petrol    ',
       'Transmission_Manual       '],
      dtype='object')

# Visualizing the data

In [50]:
plt.figure(figsize=(8,8))
sns.heatmap(df.corr(), annot = True, cmap='RdBu',fmt=".2f")
plt.show()

ValueError: could not convert string to float: '        '

In [ ]:
df.corr()['Price']

In [ ]:
df.head()

# Train - Test - Split

In [ ]:
# Train Test Split
X = df.loc[:,['Kilometers_Driven', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'Age', 'Fuel_Type_CNG',
       'Fuel_Type_Diesel', 'Fuel_Type_LPG', 'Fuel_Type_Petrol']]
y = df.loc[:,['Price']]

In [ ]:
print(X)

In [ ]:
print(y)

In [ ]:
print(X.shape, y.shape)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.15, random_state=42)

In [ ]:
print(X_train)

# Scaling the data for better training

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
print(X_train)

In [ ]:
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
r2_test = r2_score(y_test, y_pred)
print(r2_test)
data_frame = pd.DataFrame({'Actual Price': y_test.squeeze(), 'Predicted Price': y_pred.squeeze()})
print(data_frame)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

In [ ]:
print(y.shape, y_train.shape, y_test.shape)

In [ ]:
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
r2_test = r2_score(y_test, y_pred)
print(r2_test)
data_frame = pd.DataFrame({'Actual Price': y_test.squeeze(), 'Predicted Price': y_pred.squeeze()})
print(data_frame)

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
rf = ExtraTreesRegressor()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
r2_test = r2_score(y_test, y_pred)
print(r2_test)
data_frame = pd.DataFrame({'Actual Price': y_test.squeeze(), 'Predicted Price': y_pred.squeeze()})
print(data_frame)

In [ ]:
import xgboost as xgb
model = xgb.XGBRegressor(n_estimators=1000, tree_method='gpu_hist', eta=0.1, max_depth=3)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
r2_test = r2_score(y_test,y_pred)
print(r2_test)
data_frame = pd.DataFrame({'Actual Price': y_test.squeeze(), 'Predicted Price': y_pred.squeeze()})
print(data_frame)

In [ ]:
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error

print("\t\tError Table")
print('Mean Absolute Error      : ', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared  Error      : ', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared  Error : ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R Squared Error          : ', metrics.r2_score(y_test, y_pred))

In [ ]:
import xgboost as xgb
model = xgb.XGBRegressor(n_estimators=1000, tree_method='gpu_hist', eta=0.1, max_depth=3)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
r2_test = r2_score(y_test,y_pred)
print(r2_test)
data_frame = pd.DataFrame({'Actual Price': y_test.squeeze(), 'Predicted Price': y_pred.squeeze()})
print(data_frame)

In [ ]:
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
model = CatBoostRegressor(iterations=6000,
                          learning_rate=0.1,
                          depth=5,
                          loss_function='RMSE',
                          verbose=1000)
model.fit(X_train, y_train, eval_set=(X_test, y_test))
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
r2_test = r2_score(y_test,y_pred)
print("R-Squared value: ",r2_test)

In [ ]:
data_frame = pd.DataFrame({'Actual Price': y_test.squeeze(), 'Predicted Price': y_pred.squeeze()})
print(data_frame)

In [ ]:
!jupyter nbconvert --to script --no-prompt final.ipynb